{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class = "container">
  <div class = "col-md-6 col-md-offset-3">
    <div class="wrapper">
      <!-- Header -->
      <div id="header">
          <div id="branding">
              <h2 id="site-name" style="color: #ffffff;background-color: #563d7c;">Change Password</h2>
          </div>  
      </div>
      <!-- END Header -->
      <br/>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        </br>
        <button type="submit" style="color: #ffffff;background-color: #563d7c;">Save changes</button>
      </form>
    </div>
  </div>
</div>
{% endblock content%}