{% if title == "Register" %}
    {% include "base.html" %}
    <style type="text/css">
        #header {
            width: auto;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 40px;
            background: #563d7c;
            color: #ffffff;
            overflow: hidden;
        }
    </style>
{% elif title == "Login" %}
    {% include "accounts/base.html" %}
    {% block style %}
        <style type="text/css">
        body {
            background: #eee !important;
        }
        #header {
            width: auto;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 40px;
            background: #563d7c;
            color: #fff;
            overflow: hidden;
        }
        .wrapper {
            margin-top: 80px;
        margin-bottom: 80px;
        }
        .form-signin {
        padding: 15px 35px 45px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,0.1);

        .form-signin-heading,
            .checkbox {
            margin-bottom: 30px;
            }
            .checkbox {
            font-weight: normal;
            }
            .form-control {
            position: relative;
            font-size: 16px;
            height: auto;
            padding: 10px;
                @include box-sizing(border-box);
                &:focus {
                z-index: 2;
                }
            }
            input[type="text"] {
            margin-bottom: -1px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            }
            input[type="password"] {
            margin-bottom: 20px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            }
        }
        @media(max-width: 500px){
            footer{
                height: 130px !important;
                padding-bottom: 10px;
                padding-top: 10px;
            }
        }
        </style>
    {% endblock %}
{% endif %}

{% load static %}

{% block content %}
<div class = "container">
  <div class = "col-md-6 col-md-offset-3">
    <br/>
    <div class="wrapper">
      <form class="form-signin" method = 'POST' action= '' enctype = "multipart/form-data" style="margin-top: -30px; margin-bottom: -18px;">{% csrf_token %}
        {% comment %} <h2 class="form-signin-heading">EY WEB Management Portal</h2> {% endcomment %}
        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h2 id="site-name" style="color: #ffffff;">EY WEB Management Portal</h2>
            </div>  
        </div>
        <!-- END Header -->
        <br/>
        {{form.as_p }}
        </label><br>
        <button class="btn btn-lg btn-primary btn-block" style="background-color: #563d7c;" type="submit">{{title}}</button>
        <br>
       </form>

    </div>
  </div>
</div>
{% endblock %}