{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <table class="table table-striped table-sm" id="user_list_table_display">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email Address</th>
            </tr>
        </thead>
        <tbody>
        {% for user in user_list %}
        <tr>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}