{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <form id="db-backup-form">
        <div class="row">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group col-4">
                <label class="col-12">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary mx-auto" value="Backup DB" />
        </div>
    <form>
</div>
<hr />

<div class="container-fluid">
    <table class="table table-striped table-sm" id="db_backup_table_display">
        <thead>
            <tr>
                <th>Application</th>
                <th>DB Instance</th>
                <th>Database</th>
            </tr>
        </thead>
        <tbody>
        {% for db_data in db_backup_data %}
        <tr>
            <td>{{db_data.select_application}}</td>
            <td>{{db_data.select_db_instance}}</td>
            <td>{{db_data.select_database}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" type="text/css">
{% endblock style %}

{% block javascript %}
<script src="{% static 'js/jquery-ui.js' %}"></script>
<style>
    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
    } 
</style>
<script>
    $(document).ready(function(){
        $('#id_select_application').on("blur", function(e){
            // preventing from page reload and default actions
            e.preventDefault();
            var app_name = $("#id_select_application").val();
            $.ajax({
                url:            "{% url 'ajax_load_db_instances' %}",
                data:           {'appName': app_name},
                type:           'GET',
                success: function(data)
                {   
                    // $('select[name=select_db_instance]').html("");
                    // $('select[name=select_db_instance]').append($('<option></option>').html("---------"));
                    $.each(data, function(index, text)
                    {

                        $('select[name=select_db_instance]').append(
                            $("<option></option>").val(text).html(text)
                        );
                    })
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function(){
        $('#id_select_db_instance').on("change", function(e){
            // preventing from page reload and default actions
            e.preventDefault();
            var db_instance_name = $("#id_select_db_instance").children("option:selected").text();
            $.ajax({
                url:            "{% url 'ajax_load_databases' %}",
                data:           {'db_instance_name': db_instance_name},
                type:           'GET',
                success: function(data)
                {   
                    $.each(data, function(index, text)
                    {
                        $('select[name=select_database]').append(
                            $("<option></option>").val(text).html(text)
                        );
                    })
                }
            });
        });
    });
</script>
<script type="text/javascript">
    $(function() {
        $("#id_select_application").autocomplete({
            source: "{% url 'ajax_load_applications' %}",
            minLength: 2,
        });
    });
</script>
<script>
    /*
        On submiting the form, send the POST ajax
        request to server and after successfull submission
        display the object.
    */
    $("#db-backup-form").submit(function (e) {
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        // var serializedData = new FormData($('form').get(0));
        // debugger;

        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        //var token = getCookie('csrftoken');

        var serializedData = $(this).serialize();
        // var token = $("#db-backup-form").find('input[name=csrfmiddlewaretoken]').val()
        // var select_application = $("#id_select_application").val();
        // var select_db_instance = $("#id_select_db_instance option:selected").text();
        // var select_database = $("#id_select_database option:selected").text();
        // make POST ajax call
        // var serializedData = {'select_application': select_application, 'select_db_instance': select_db_instance, 'select_database': select_database, 'csrfmiddlewaretoken': token}
        
        $.ajax({
            type: 'POST',
            url: "{% url 'db_backup' %}",
            data: serializedData,
            success: function (response) {
                // on successfull creating object
                // 1. clear the form.
                $("#db-backup-form").trigger('reset');
                // 2. focus to nickname input 
                $("#id_select_application").focus();

                // display the newly friend to table.
                var instance = JSON.parse(response["instance"]);
                var fields = instance[0]["fields"];
                $("#db_backup_table_display tbody").prepend(
                    `<tr>
                    <td>${fields["select_application"]||""}</td>
                    <td>${fields["select_db_instance"]||""}</td>
                    <td>${fields["select_database"]||""}</td>
                    </tr>`
                )
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })
</script>
{% endblock javascript %}