<!DOCTYPE html>
{% load static %}

<html lang="en-us" >
<head>
  <title>Log in | EY WEB Management Portal</title>
  <link rel="stylesheet" type="text/css" href="{% static "/admin/css/login.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "/admin/css/base.css" %}">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static "/admin/css/responsive.css" %}">
  <meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class=" login" data-admin-utc-offset="0">
<h2 class="form-signin-heading">{{ message }}</h2>
  <!-- Container -->
  <div id="container">
    <!-- Header -->
    <div id="header">
      <div id="branding">
        <h1 id="site-name"><a href="/login/">EY WEB Management Portal</a></h1>
      </div>  
    </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="content" class="colM">
      <div id="content-main">
        <form method="post">
          {% csrf_token %}
          <div class="form-row">
            <label class="required" for="id_username">Username:</label> 
            <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
          </div>
          
          <div class="form-row">
            <label class="required" for="id_password">Password:</label> 
            <input type="password" name="password" autocomplete="current-password" required id="id_password">
          </div>

          <div class="form-row">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>

          <div class="submit-row">
            <label>&nbsp;</label><input type="submit" value="Log in">
          </div>
        </form>
      </div>  
      <br class="clear">
    </div>
    <!-- END Content -->
    <div id="footer"></div>
  </div>
<!-- END Container -->
</body>
</html>
